body {
  margin: 0;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#blank {
  width: 33%;
}
#weather {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 33%;
}
#weather span {
  margin-right: 20px;
}
.hidden {
  display: none;
}
input {
  height: 30px;
  width: 300px;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid white;
  font-size: 18px;
  color: white;
  text-align: center;
}
input:focus {
  outline: none;
}
button {
  background-color: transparent;
  border: none;
}
li span {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}
li {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 10px;
}
#clock {
  font-size: 40px;
  width: 33%;
  display: flex;
  justify-content: center;
}
